# IDE & editor
.idea/
.vscode/

# Python & testing caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments & Local config
env/
.env
scripts/.env_path
scripts/.git_email
scripts/.git_user

# Local SQLite databases
*.db
*.sqlite3

# Temporary reference directories
dojoroll/
